body {
/* display: flex;*/
 background-image: url('');
 background-size: cover;
 background-repeat: no-repeat;
 background-color: gray;
 justify-content: center;
 margin: auto;
 height: 90%;
 width: 90%;
 position: absolute;
}
.header {
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
/* display: inline-block;
 flex-direction: row;*/
}
#board {
 margin: 0 auto;
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: center;
 background-image: url(assets/shelfBackground.png)
 background-size: cover;
 background-repeat: repeat;
 height: 90%;
 width: 90%;
 margin-top: 40px;
 margin-bottom: 40px;
 border: 3px solid black;
 }
.shelf {
  display: flex;
  height: 90%;
  width: 90%;
  align-items: flex-start;
  flex-direction: row;
  background-image: url(assets/deskBackground.png);
  background-size: contain;
  background-repeat: cover;
  border: solid black 3px;
  }
.cat {
  display: flex;
  background-image: url(assets/Slide8.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 140px;
  width: 140px;
  margin-top: -20px;
  position: absolute;
}
.item {
  display: flex;
  background-image: url(assets/ardentryst/Ardentryst-Potion.png);
  background-size: contain;
  height: 100px;
  width: 100px;
  left: 155px;
  position: relative;
/*  background-color: blue;*/
}
.results {
  margin-left: 100px;
}

